# ===== SHOPIFY =====
SHOPIFY_STORE=bestmodeltr.myshopify.com
SHOPIFY_API_KEY=buraya_istemci_kimligini_yaz
SHOPIFY_API_SECRET=buraya_gizli_anahtari_yaz
SHOPIFY_ACCESS_TOKEN=

# ===== SÜRAT KARGO =====
SURAT_KULLANICI_ADI=musteri_kodu
SURAT_SIFRE=gonderim_sifresi

# ===== SUNUCU =====
PORT=3000
