# ===== SHOPIFY =====
SHOPIFY_STORE=bestmodeltr.myshopify.com
SHOPIFY_ACCESS_TOKEN=shpat_xxxxxxxxxxxxx

# ===== SÜRAT KARGO =====
SURAT_KULLANICI_ADI=MUSTERI_KODU_BURAYA
SURAT_SIFRE=GONDERIM_SIFRESI_BURAYA
SURAT_SORGULAMA_SIFRE=SORGULAMA_SIFRESI_BURAYA

# ===== SUNUCU =====
PORT=3000
